/* p {background-color: darkolivegreen;} */
/* p @font-face {font-family: Merienda; src: url(https://fonts.googleapis.com/css?family=Merienda.com); font-style:normal;}
*header {font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif} */
p { font-family:fantasy}
body { background-color: rgb(84, 160, 179);}
/*body {background-image: }*/

#midimage {height: 17%;}
@media only screen and (max-height: 400px) {#midimage{height: 300px;}}
@media only screen and (max-height: 300px) {#midimage {max-height: 300px;height: 100%;}}

.column {float: left;width: 25%;padding: 10px;}
.column img {cursor: pointer;}
.row:after {
    content: "";
    display: table;clear: both;}

.container {position: relative; display: none;}
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;}
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;     
    color: white;
    font-size: 35px;
    cursor: pointer;}